{% include 'header/header.twig' %}
<div class="content">
    <div class="page align-content">
        <div id='error-msg'></div>
        <div id='error-img'></div>
    </div>
    {% include 'footer/footer.twig' %}
</div>