<footer>
    <div id="footer-wrapper">
        <div id="links">
            <a id="email" class="btn fas fa-envelope" href="mailto:senthuran@selvanathan.me"></a>
            <a id="github" class="btn fab fa-github" href="https://github.com/sselvanathan"></a>
            <a id="impressum" class="btn fas fa-user" href="https://www.selvanathan.me//?p=impressum"></a>
        </div>
        <span id="creator-name">© Senthuran Selvanathan</span>
    </div>
</footer>
