    <div class="sidebar">
        <div class="sidebar-menu">
            <h1 class="brand-title">{{ module }}</h1>
            <h2 class="brand-tagline">Meow</h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="button" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="button" href="/create">Create</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>