<footer>
    <div id="footer-wrapper">
        <span id="creator-name">Senthuran Selvanathan</span>
        <div id="links">
            <a id="creator-email" class="btn" href="../../../../index.php">Schick mir eine E-mail</a>
            <a id="github" class="btn" href="https://github.com/sselvanathan">Folg mir auf Github</a>
            <a id="impressum" class="btn" href="https://www.selvanathan.me//?p=impressum">Impressum</a>
        </div>
    </div>
</footer>
