<div class="posts">
    <h1 class="content-subhead">Recent Posts</h1>

    {% for blogPost in allBlogPosts %}
        <section class="post">
            <header class="post-header">
                <img width="48" height="48" alt="User avatar" class="post-avatar"
                     src="">
                <a href="/blog/{{ blogPost.id }}">
                    <h2 class="post-title">{{ blogPost.title|e }}</h2>
                </a>
                <p class="post-meta">
                    By <a href="#" class="post-author">User</a> under <a
                            class="post-category post-category-design" href="#">CSS</a> <a
                            class="post-category post-category-pure" href="#">PHP</a>
                </p>
            </header>
            <div class="post-description">
                <p>{{ blogPost.post|e }}</p>
            </div>
        </section>
    {% endfor %}
</div>