<form method="post" action="/src/Action/BlogAction.php">
    <label for="title">Title</label>
    <br>
        <input type="text" id="title" name="title" value="Title...">
    <br>
    <label for="post">Post</label>
    <br>
        <input type="text" id="post" name="post" value="Post...">
    <br>
    <input type="submit">
</form>