<div class="posts">
    <h1 class="content-subhead">Pinned Post</h1>
    <section class="post post-pinned">
        <header class="post-header">
            {# <img width="48" height="48" alt="User avatar" class="post-avatar" #}
            {# src="/sBlog/view/config/Assets/images/profilePicture.jpg"> #}
            <i class="fas fa-exclamation-triangle fa-3x post-icon"></i>
            <h2 class="post-title">Pinned Post</h2>

            <p class="post-meta">
                By <a href="#" class="post-author">User</a> under <a
                        class="post-category post-category-design" href="#">CSS</a> <a
                        class="post-category post-category-pure" href="#">PHP</a>
            </p>
        </header>

        <div class="post-description">
            <p>
                This Feature isnt out yet :^)
                <br>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
    </section>
</div>