<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{ module }}</title>
    {% block stylesheets %}
        <link type="text/css" href="/view/config/Assets/css/style.css" rel="stylesheet">
        <link type="text/css" href="/view/config/Assets/css/header/header.css" rel="stylesheet">
        <link type="text/css" href="/view/config/Assets/css/content/content.css" rel="stylesheet">
        <link type="text/css" href="/view/config/Assets/css/footer/footer.css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% include 'header/sidebar.twig' %}