<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{ module }}</title>
    {% block stylesheets %}
        <link type="text/css" href="/view/config/Assets/css/layout.css" rel="stylesheet">
        <link type="text/css" href="/view/config/Assets/css/footer/footer.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% include 'header/sidebar.twig' %}