{% include 'header/header.twig' %}
<div class="content">
    <div class="page">
        <div class="posts">
            {% include 'content/blog.twig' %}
        </div>
    </div>
    {% include 'footer/footer.twig' %}
</div>
