{% include 'header/header.twig' %}
<div class="content">
    <div class="page">
        {% include 'content/pinnedPost.twig' %}
        {% include 'content/allposts.twig' %}
    </div>
    {% include 'footer/footer.twig' %}
</div>
