{% include 'header/header.twig' %}

<div class="content">
    <div>
        {% include 'content/pinnedpost.twig' %}
        {% include 'content/allposts.twig' %}
    </div>
</div>
{% include 'footer/footer.twig' %}
