.footer {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer a {
    color: #ccc;
    font-size: 80%;
}

.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

.btn {
    font-size: 2em;
}

#footer-wrapper {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (min-width: 48em) {
    #footer-wrapper {
        margin-left: 25%;
    }
}