<form method="post" action="">
    <label for="title">Title</label>
    <br>
    <input type="text" id="title" name="title" value="">
    <br>
    <label for="post">Post</label>
    <br>
    <input type="text" id="post" name="text" value="">
    <br>
    <input type="submit" value="save">
</form>