{% include 'header/header.twig' %}
<body>
<h1>This is an OOP Skeleton</h1>
<div>{{ module }}</div>
{% for BlogPost in allBlogPosts %}
    <ul>
    <li>{{ BlogPost.id|e }}</li>
    <li>{{ BlogPost.title|e }}</li>
    <li>{{ BlogPost.post|e }}</li>
    </ul>
{% endfor %}
</body>
{% include 'footer/footer.twig' %}
